<!-- As a link -->
<nav class="navbar navbar-expand-xl " style=background-color:midnightblue>
    <img src="assets/image 8.png" alt="" height=20px width=30px>
  <a class="navbar-brand" [routerLink]="['/']">LinkUp.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class=" navbar-nav mr-auto  ">
      <li class="nav-item active">
        <a class="nav-link active"  [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link">About</a>
      </li>
      <li class="nav-item">
          <a class="nav-link">Contact</a>
        </li>
      <li class="nav-item">
          <a class="nav-link">Help</a>
        </li>
      <li class="nav-item" *ngIf="!auth.loggedin">
        <a class=" nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item" *ngIf="auth.loggedin">
        <a class=" nav-link" *ngIf= "auth.loggedin" (click)="logout()">Logout</a>
      </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div>
</nav>
<!--<div>
  <img src="assets/image .jpg">
</div>-->

