<link href="/assets/Fontawesome/all.min.css" rel="stylesheet" type="text/css">
<footer class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-4">
            <h3>Contact Us</h3>
            <br>
            <h4>Our Address and Contact Info here</h4>
        </div>
        <div class="col-sm-4">
            <h3>Connect</h3>
            <a href="#" class="fab fa-facebook"></a>&nbsp;
            <a href="#" class="fab fa-google"></a>&nbsp;
            <a href="#" class="fab fa-twitter"></a>&nbsp;
            <a href="#" class="fab fa-linkedin"></a>&nbsp;
            <a href="#" class="fab fa-instagram"></a>
        </div>
        <div class="col-sm-4">
            <img src="./assets/image 5.jpg" class="icon" alt="" height=100px width=150px>
        </div>
    </div>
</footer>
