<div class="padding">
    <div class="container">
            <div class="row">
                    <div class="column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <img class="image" src="./assets/image 6.jpg" height=400px width="500px">
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                            <mat-card>
                                <p class="text-muted h5">Team Collaboration</p>
                                <p class="h4 mt-3">Create Account to Continue</p>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="card-body">
                                                <form [formGroup]="registerForm" (submit)="userSubmit(registerForm.value)">
                                                    <mat-form-field id="firstl" appearance="outline" style="font-size: small;" class="col-md-5">
                                                        <mat-label>First Name</mat-label>
                                                        <input matInput placeholder="Mr. Anderson" formControlName="first">
                                                        <!-- <p matSuffix>@gmail.com</p> -->
                                                        <mat-error *ngIf="getControl('first').errors">First name required</mat-error>
                                                    </mat-form-field>
                                                    <!-- <div class="col-md-1"></div> -->
                                                    <mat-form-field appearance="outline"  style="font-size: small;" class="col-md-5">
                                                        <mat-label>Last Name</mat-label>
                                                        <input matInput placeholder="" formControlName="last">
                                                        <!-- <p matSuffix>@gmail.com</p> -->
                                                        <mat-error></mat-error>
                                                    </mat-form-field>
                                                    <mat-form-field id="fullw" appearance="outline"  style="font-size: small;" class="col-md-10">
                                                        <mat-label>Username</mat-label>
                                                        <input matInput placeholder="Mr. Paras" formControlName="username">
                                                        <!-- <p matSuffix>@gmail.com</p> -->
                                                        <mat-error></mat-error>
                                                    </mat-form-field>
                                                    <mat-form-field id="fullw" appearance="outline"  style="font-size: small;" class="col-md-10">
                                                        <mat-label>Email</mat-label>
                                                        <input matInput placeholder="parasjain3005@mail.com" formControlName="email">
                                                        <!-- <p matSuffix>@gmail.com</p> -->
                                                        <!-- <mat-error *ngIf="getControl('email').errors.required">Email is required</mat-error> -->
                                                        <mat-error *ngIf="getControl('email').errors">Invalid email</mat-error>
                                                    </mat-form-field>
                                                    <mat-form-field id="firstl" appearance="outline"  style="font-size: small;" class="col-md-10">
                                                      <mat-label>Enter your password</mat-label>
                                                      <input matInput placeholder="*******" [type]="hide ? 'password' : 'text'" formControlName="password" type="password">
                                                      <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                      </a>
                                                      <mat-error *ngIf="getControl('password').errors">Invalid Password</mat-error>
                                                    </mat-form-field>
                                                    <mat-form-field appearance="outline"  style="font-size: small;" class="col-md-10">
                                                      <mat-label>Confirm Password</mat-label>
                                                      <input matInput placeholder="*******"  [type]="hide ? 'password' : 'text'" formControlName="confirm" type="password">
                                                      <!-- <p matSuffix>@gmail.com</p> -->
                                                      <mat-hint>Use a strong password</mat-hint>
                                                      <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                        </a>
                                                      <mat-error *ngIf="getControl('confirm')">Password do not match</mat-error>
                                                  </mat-form-field>

                                                    <div class="mt-4 row">
                                                        <a mat-button color="primary" [routerLink]="['/login']" routerLinkActive="router-link-active" >Sign In Instead</a>
                                                        <button mat-flat-button color="primary">Sign Up</button>
                                                    </div>
                                                </form>
                                            </div>
                                        <input type="file" (change)="onFileChanged($event)">
                                    </div>
                                    <div class="col-md">
                                      <img class="img-fluid" [src]="imgURL" *ngIf="imgURL">
                                    </div>
                                </div>
                            </mat-card>
                            </div>
                        </div>
            </div>
    </div>
</div>

